@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i&display=swap&subset=latin-ext');
:root {}

html {
	--bg-color: #fff;
	--white-key-color: hsl(0, 0%, 98%);
	--black-key-color: hsl(0, 0%, 95%);
	--black-key-text: #222;
	--white-key-text: #222;
	--body-text: #222;
	--shadow-small-transparent: 0 2px 4px rgba(0, 0, 0, 0);
	--shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
	--shadow-big: 0 3px 10px hsla(0, 0%, 0%, 0.24);
	--shadow-big-accent: 0 3px 6px hsla(202, 76%, 60%, 0.4);
	--transition: 0.3s all ease-in-out;
	--key-highlight: #176EFC;
	--accent-color: #176EFC;
	--body-text-values: 34, 34, 34;
	--backdrop-color: rgba(240, 240, 240, 0.8);
	--border-radius: 7px;
	--font-family: 'Inter', -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--outline-color: rebeccapurple;
	--padding: 12px;
	--on-accent: #fff;
	--slider-size: 17px;
	--hover-color: hsl(0, 0%, 94%);
	--button-hover-color: hsl(0, 0%, 88%);
	--menu-background: hsla(0, 0%, 98%, 0.7);
	--border-color: #eee;
}

html.dark {
	--bg-color: hsl(0, 0%, 14%);
	--white-key-color: hsl(0, 0%, 16%);
	--black-key-color: hsl(0, 0%, 19%);
	--black-key-text: #eee;
	--white-key-text: #eee;
	--shadow-small: 0 2px 4px rgba(0, 0, 0, 0.2);
	--shadow-big: 0 2px 8px rgba(0, 0, 0, 0.5);
	--shadow-big-accent: 0 2px 6px hsla(202, 32%, 42%, 0.4);
	--body-text: #eee;
	--key-highlight: linear-gradient(hsl(202, 32%, 42%), hsl(202, 32%, 32%));
	--accent-color: #0478DF;
	--body-text-values: 238, 238, 238;
	--backdrop-color: rgba(0, 0, 0, 0.8);
	--hover-color: hsl(0, 0%, 18%);
	--button-hover-color: hsl(0, 0%, 24%);
	--menu-background: hsla(0, 0%, 16%, 0.7);
	--border-color: hsl(0, 0%, 22%);
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: 500 !important;
}

h1, h2, h3, h4, h5, h6, p, b, span, button, label {
	user-select: none;
}

body, html {
	margin: 0;
	padding: 0;
	transition: var(--transition);
	user-select: none;
}

.grid-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: "tl tr" "bl br";
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	gap: var(--padding);
	height: 100%;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
}

body {
	padding: 0;
	margin: 0;
	background: var(--bg-color);
	color: var(--body-text);
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: var(--font-family);
	width: 100vw;
	height: 100vh;
}

.piano-key-highlight {
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6) !important; */
	background: var(--accent-color) !important;
	/* color: #fff !important; */
	transform-origin: 50% 0% 0 !important;
	/*transform: scaleY(0.99);*/
}

/* 
.white-key.piano-key-highlight {
	/* background: var(--hover-color) !important; 

box-shadow: 0 0.5px 1px 1px var(--accent-color) !important;
}

.black-key.piano-key-highlight {
	/* background: var(--button-hover-color) !important; 
	box-shadow: 0 0.5px 1px 1px var(--accent-color) !important;
}

*/

button:focus, input:focus, button:active, input:active {
	outline: none;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--white-key-color) transparent;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--white-key-color);
	border-radius: 20px;
	border: none;
}

@media (max-width:1100px) {
	.grid-container {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto 1fr;
		grid-template-areas: "tl tl" "tr tr" "bl br";
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		width: 100vw;
	}
}